<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <h5>投稿編集</h5>
      <%= form_with model: @post, url: post_path do |f| %>
        <table>
            <tr>
              <th><%= f.label :画像 %></label></th>
              <td></td>
              <td>
                <%= f.file_field :post_image, accept: "image/*" %><br>
              </td>
              <tr>
              <tr>
              <th><%= f.label :タイトル %></th>
              <td></td>
              <td>
                <%= f.text_field :title %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :内容 %></th>
              <td></td>
              <td>
                <%= f.text_area :body %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-secondary mb-5">更新</button>
              </td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>