<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 pt-3 justify-content-center">
      <h4>投稿フォーム</h4>
        <div class="search pb-4">
          <%= form_with model: @post do |f| %>
            <h5 class="image pt-2">画像</h5>
            <%= f.file_field :post_image, placeholder: "プロフィール画像", accept: "image/*" %>
            <h5 class="title pt-2">タイトル</h5>
            <%= f.text_field :title %>
            <h5 class="body pt-2">本文</h5>
            <%= f.text_area :body %>
            <h5 class="restaurant pt-2">お店の名前</h5>
            <select name="post[restaurant_id]">
              <% Restaurant.all.each do |restaurant| %>
                <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
              <% end %>
            </select></br>
            <h5 class="hash_tag pt-2">ハッシュタグ入力欄</h5>
            <%= f.text_area :hashbody, size:"40x2" %></br>
            <%= f.submit '投稿する', class: 'btn btn-secondary mt-3' %>
          <% end %>
        </div>
    </div>
  </div>
</div>