<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="p-3 mx-auto", style="width: 350px;">
        <div class="card shadow">
          <%= image_tag @post.get_post_image, class:"card-img-top"; %>
          <div class="card-body">
            <div class="row">
              <div class="col-2 p-0 pl-2">
               <%= image_tag @post.user.get_user_image(50,50), class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-9 pl-4">
                <p class="card-title">
                  <strong><span> <%= @post.title %></span></strong>
                </p>
                <p class="card-text">
                  <%= @post.body %>
                </p>
                <p class="hashtag">
                  <%= render_with_hashtags(@post.hashbody) %>
                </p>
                <%= link_to restaurant_path(@post.restaurant_id), style:"color:black;" do %>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= @post.restaurant.name %></p>
                <% end %>
                <%= link_to user_path(@post.user_id), style:"color:black;" do %>
                  <i class="fas fa-user"></i>
                  <%= @post.user.user_name  %>
                <% end %>
                <div class="d-flex">
                  <span class="mr-3">
                    <%= link_to post_path(@post.id), style:"color:black;" do %>
                      <i class="far fa-comment"></i>
                      <%= @post.post_comments.count %>
                    <% end %>
                  </span>
                  <span id="favorite_buttons_<%= @post.id %>">
                    <%= render 'public/favorites/btn', post: @post %>
                  </span>
                </div>
                  <% if @post.user_id == current_user.id %>
                    <%= link_to '編集する', edit_post_path(@post), class: "btn btn-secondary mb-3" %>
                    <%= link_to '削除する', post_path(@post), class: "btn btn-secondary mb-3", method: :delete, "data-confirm" => "本当に消しますか？"  %>
                  <% end %>
                <%= link_to "戻る", posts_path, class: "btn btn-secondary mb-3" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-5">
        <div class="comment mt-5">
          <h5 class="subtitle">コメント</h5>
          <p id="comment_index">
            <%= render 'public/post_comments/index', post: @post, post_comment: @post_comment, class:"text-dark" %>
          </p>
          <p id="comment-form">
            <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment, class:"text-dark" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
