<div class="container">
  <div class="row">
    <div class="col-md-8 pt-3 offset-md-2">
      <div class="pt-3">
        <%= link_to @post.user.user_name, user_path(@post.user_id) %></br>
        <%= image_tag @post.get_post_image(100,100) %>
        <%= render 'public/favorites/btn', post: @post %>
        コメント件数：<%= @post.post_comments.count %>
        <p><%= @post.title %></p>
        <p><%= @post.body %></p>
        <p><%= link_to @post.restaurant.name, restaurant_path %></p>
        <% if @post.user_id == current_user.id %>
          <%= link_to '編集する', edit_post_path(@post), class: "btn btn-secondary mb-3" %>
        <% end %>
        <% if @post.user_id == current_user.id %>
          <%= link_to '削除する', post_path(@post), class: "btn btn-secondary mb-3", method: :delete, "data-confirm" => "本当に消しますか？"  %>
        <% end %>
        <%= link_to "戻る", posts_path, class: "btn btn-secondary mb-3" %>
        <div class="comment">
            <% @post.post_comments.each do |post_comment| %>
              <%= post_comment.user.user_name %>　<%= post_comment.comment %>
              <div class="strftime", style="font-size:small; text-align:right; padding-bottom: 20px">
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
            <% end %>
        </div>
        <div class="pb-4">
          <%= form_with model: [@post, @post_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>