<% if user_signed_in? %>
  <div class="search_form mt-3 ml-2">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word,placeholder:"キーワードを入力" %></br>
      <%= f.select :range, options_for_select([["ユーザー","User"], ["投稿","Post"]]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %></br>
      <%= f.submit "検索", class: "btn btn-secondary mt-1" %>
    <% end %>
  </div>
<% end %>