<div class="container">
  <div class="row">
    <div class="col-md-9 pt-3">
      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "User" %>
        <h2>ユーザー名「"<%= @word %>"」の検索結果</h2>
          <thead>
            <tr>
              <th>アイコン</th>
              <th>ユーザー名</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to user_path(user) do %>
                    <%= image_tag user.get_user_image(70, 70), class:"rounded-circle"  %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_path(user) do %>
                    <%= user.user_name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
          <thead>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>本文</th>
            </tr>
          <tbody>
          <h2>投稿「"<%= @word %>"」の検索結果</h2>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to user_path(post.user) do %>
                  <%= image_tag post.user.get_user_image(70, 70), class:"rounded-circle" %>
                <% end %>
              </td>
              <td><%= link_to post.title, post_path(post.id) %></td>
              <td><%= post.body %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>