<div class="container">
  <div>
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <h4 class="title sign_up pt-4"><%= @restaurant.name %>のマイページ</h4>
  </div>
  <div class="row">
    <div class="col-md-7 pt-3">
      <h5 class="subtitle">登録情報</h5>
      <table class="table table-bordered">
        <tr>
          <th class="table-secondary w-25">店名</th>
          <td><%= @restaurant.name %> </td>
        </tr>
        <tr>
          <th class="table-secondary">紹介文</th>
          <td><%= @restaurant.explanation %></td>
        </tr>
        <tr>
          <th class="table-secondary">お店のジャンル </th>
          <td>
            <% @restaurant.genres.each do |genre| %>
              <span><%= genre.name %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">所在地</th>
          <td>〒<%= @restaurant.post_code %> <%= @restaurant.address %></td>
        </tr>
        <tr>
          <th class="table-secondary">価格帯</th>
          <td><%= number_to_currency(@restaurant.price_lower_limit) %> ～ <%= number_to_currency(@restaurant.price_upper_limit) %></td>
        </tr>
        <tr>
          <th class="table-secondary">営業時間</th>
          <td>
            <%= @restaurant.opening_time.strftime("%H:%M") %>
            ～
            <%= @restaurant.closing_time.strftime("%H:%M") %>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">ホームページURL</th>
          <td><%= @restaurant.hp_url %></td>
        </tr>
        <tr>
          <th class="table-secondary">予約方法 </th>
          <td><%= @restaurant.reservation_method_i18n %></td>
        </tr>
        <tr>
          <th class="table-secondary">メールアドレス </th>
          <td><%= @restaurant.email %></td>
        </tr>
        <tr>
          <th class="table-secondary">電話番号</th>
          <td><%= @restaurant.phone_number %></td>
        </tr>
      </table>
      <%= link_to '編集する', edit_restaurant_info_restaurant_path(@restaurant), class: "btn btn-secondary mb-3" %>
      <%= link_to '予約を確認する', restaurant_info_restaurant_reservations_path(current_restaurant), class: "btn btn-secondary mb-3" %>
    </div>
    <div class="col-md-5 pt-3">
      <h5>イメージ画像</h5>
      <%= image_tag @restaurant.get_restaurant_image(500, 500) %>
    </div>
  </div>
</div>