<div class="container">
  <div class="row">
    <div class="col-md-7 pt-3 offset-md-1 mt-3">
      <%= image_tag @restaurant.get_restaurant_image(100, 100) %>
      <table class="table offset-md-1 mb-5">
        <tr>
          <th style="width:10%"></th>
          <td style="width:30%">
            <h3><%= @restaurant.name %></h3>
          </td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= @restaurant.explanation %></td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒<%= @restaurant.post_code %> <%= @restaurant.address %></td>
        </tr>
        <tr>
          <th>価格帯</th>
          <td><%= number_to_currency(@restaurant.price_lower_limit) %> ～ <%= number_to_currency(@restaurant.price_upper_limit) %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @restaurant.opening_time.strftime("%H:%M") %> ～ <%= @restaurant.closing_time.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <th>ホームページURL</th>
          <td><%= @restaurant.hp_url %></td>
        </tr>
        <tr>
          <th>予約方法 </th>
          <td><%= @restaurant.reservation_method_i18n %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @restaurant.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス </th>
          <td><%= @restaurant.email %></td>
        </tr>
        <tr>
          <th></th>
          <td>
          <% if @restaurant.internet? %>
            <%= link_to '予約する', new_restaurant_reservation_path(@restaurant), class: "btn btn-secondary mb-3" %>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>