<div class="container">
  <div class="row">
    <div class="col-md-7 pt-3 offset-md-1 mt-3">
      <%= image_tag @post.restaurant.get_restaurant_image(100, 100) %>
      <table class="table offset-md-1 mb-5">
        <tr>
          <th style="width:10%"></th>
          <td style="width:30%">
            <h3><%= @post.restaurant.name %></h3>
          </td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= @post.restaurant.explanation %></td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒<%= @post.restaurant.post_code %> <%= @post.restaurant.address %></td>
        </tr>
        <tr>
          <th>価格帯</th>
          <td><%= @post.restaurant.price_lower_limit %> ～ <%= @post.restaurant.price_upper_limit %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @post.restaurant.opening_time.strftime("%H:%M") %> ～ <%= @post.restaurant.closing_time.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <th>ホームページURL</th>
          <td><%= @post.restaurant.hp_url %></td>
        </tr>
        <tr>
          <th>予約方法 </th>
          <td><%= @post.restaurant.reservation_method %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @post.restaurant.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス </th>
          <td><%= @post.restaurant.email %></td>
        </tr>
        <tr>
          <th></th>
          <td>
          <% if @post.restaurant.internet? %>
            <%= link_to '予約する', new_restaurant_reservation_path(@post.restaurant_id), class: "btn btn-secondary mb-3" %>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>