<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <h5 class="sign_up mb-3">飲食店 会員登録</h5>
        <%= form_with model: Restaurant.new, url: restaurant_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
          <table>
            <tr>
              <th><%= f.label :店名 %></th>
              <td></td>
              <td>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和食堂" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :紹介文 %></th>
              <td></td>
              <td>
                <%= f.text_field :explanation, autofocus: true, size: "40x40", autocomplete: "explanation", placeholder: "地元で人気の食堂です！" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :所在地 %></th>
              <td><%= f.label :〒 %></td>
              <td>
                <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "000000" %>
              </td>
            </tr>
            <tr>
              <td></td>
               <td></td>
              <td>
                <%= f.text_field :address, autofocus: true, size: "40x40", autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :価格帯 %></th>
              <td></td>
              <td>
                <%= f.select :price_lower_limit, decorate_for_select(Restaurant.price_lower_limit_values), include_blank: "選択して下さい" %>
                 ～
                <%= f.select :price_upper_limit, decorate_for_select(Restaurant.price_upper_limit_values), include_blank: "選択して下さい" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :営業時間 %></th>
              <td></td>
              <td>
                <%= f.time_field :opening_time, autofocus: true, step: 1800, list: "data-list" %>
                ～
                <%= f.time_field :closing_time, autofocus: true, step: 1800, list: "data-list" %>
                <datalist id="data-list">
                  <%= 24.times do |i| %>
                    <option value="<%= sprintf("%02d",i) %>:00"></option>
                    <option value="<%= sprintf("%02d",i) %>:30"></option>
                  <% end %>
                </datalist>
              </td>
            </tr>
            <tr>
              <th><%= f.label :ホームページURL %></th>
              <td></td>
              <td>
                <%= f.text_field :hp_url, autofocus: true, autocomplete: "hp_url", placeholder: "https://..."  %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :予約方法 %></th>
              <td></td>
              <td>
                <%= f.select :reservation_method, Restaurant.reservation_methods.keys.map{|k| [I18n.t("enums.restaurant.reservation_method.#{k}"), k]}, { include_blank: "選択して下さい", selected: @restaurant.reservation_method }, {} %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td></td>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com"  %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :電話番号（ハイフンなし）%></th>
              <td></td>
              <td>
                <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "0000000000"  %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %> 文字以上）
                <% end %>
              </th>
              <td></td>
              <td>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :パスワード（確認用）%></th>
              <td></td>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-secondary mb-5">新規登録</button>
              </td>
            </tr>
          </table>
        <% end %>

        <h5 class="sign_in mb-3">会員の方はこちらから</h5>
    </div>
  </div>
</div>