<div class="container">
  <div class="row">
    <div class="col-md-7 pt-5 offset-md-1">
      <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h3><%= @reservation.errors.count %> 件のエラーが発生しました。:</h3>
          <ul>
            <% @reservation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h4 class="title mb-3"><%= @restaurant.name %>を予約する</h4>
        <%= form_with model: @reservation, url: restaurant_reservations_path do |f| %>
          <table class="table">
            <tr>
              <th><%= f.label :日付 %></th>
              <td></td>
              <td>
                <%= f.date_field :date, class: 'form-control' %>
              </td>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :時間 %></th>
              <td></td>
              <td>
                <%= f.time_field :time, step: 1800, list: "data-list", class: 'form-control' %>
                <datalist id="data-list">
                  <%= 24.times do |i| %>
                    <option value="<%= sprintf("%02d",i) %>:00"></option>
                    <option value="<%= sprintf("%02d",i) %>:30"></option>
                  <% end %>
                </datalist>
                <p>
                  ※<%= @restaurant.name %>の営業時間：<%= @restaurant.opening_time.strftime("%H:%M") %> ～ <%= @restaurant.closing_time.strftime("%H:%M") %>
                </p>
              </td>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :人数 %></th>
              <td></td>
              <td>
                <%= f.select :people_count, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"]], include_blank: "選択して下さい" %>
              </td>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-secondary mb-5" >予約を確定する</button>
              </td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>
