<div class="container">
  <div>
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col-6 pt-3">
      <h4 class="title">投稿一覧</h4>
      <table class="table">
        <tr>
          <th>タイトル</th>
          <th>本文</th>
          <th>投稿者</th>
          <th>最終ログイン日</th>
          <th></th>
          <th></th>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td>
              <%= link_to admins_users_path(post.user_id) do%>
                <%= post.user.user_name %>
              <% end %>
            </td>
            <td><%= post.user.last_sign_in_at %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-6 pt-3">
      <h4 class="title">飲食店一覧</h4>
      <table class="table">
        <tr>
          <th>飲食店名</th>
          <th>紹介文</th>
        </tr>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.explanation %></td>
            <td> | <%= link_to "強制退会", admin_path(restaurant,type:"restaurant"), method: :delete, data: { confirm: "本当に強制退会させますか？" } %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>