<div class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <h4 class="title"><%= @user.user_name %>さんの登録情報</h4>
      <table class="table">
        <tr>
          <th>名前</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          <th>最終ログイン日</th>
          <th></th>
        </tr>
          <tr>
            <td><%= @user.last_name %> <%= @user.first_name %></td>
            <td><%= @user.user_name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.phone_number %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <%= link_to "戻る", admins_path, class: "btn btn-secondary" %>
              <%= link_to "強制退会", admin_path(@user,type:"user"), method: :delete, data: { confirm: "本当に強制退会させますか？" }, class: "btn btn-secondary" %>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>