<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <h5>投稿編集</h5>
      <%= form_with model: @user, url: users_mypage_path do |f| %>
        <table>
            <tr>
              <th><%= f.label :ユーザー名 %></label></th>
              <td></td>
              <td>
                <%= f.file_field :user_image, accept: "image/*" %><br>
              </td>
              <tr>
              <tr>
              <th><%= f.label :自己紹介 %></th>
              <td></td>
              <td>

              </td>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td></td>
              <td>
                <%= f.text_area :email %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :電話番号 %></th>
              <td></td>
              <td>
                <%= f.text_area :phone_number %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-success mb-5">更新</button>
              </td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>