<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <h5>プロフィール編集</h5>
      <%= form_with model: @user, url: user_path do |f| %>
        <table>
            <tr>
              <th><%= f.label :アイコン %></label></th>
              <td></td>
              <td>
                <%= f.file_field :user_image, accept: "image/*" %><br>
              </td>
            </tr>
            <tr>
              <th><%= f.label :ユーザー名 %></label></th>
              <td></td>
              <td><%= f.text_field :user_name %></td>
            </tr>
              <tr>
              <th><%= f.label :自己紹介 %></th>
              <td></td>
              <td><%= f.text_field :introduction %></td>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td></td>
              <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <th><%= f.label :電話番号 %></th>
              <td></td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-secondary mb-5">更新</button>
                <%= link_to "戻る", user_path, class: "btn btn-secondary mb-5" %>
              </td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>