<div class="container">
  <div class="row">
    <div class="col-md-7 pt-3 offset-md-2">
      <table class='table'>
        <thead>
          <tr>
            <th>アイコン</th>
            <th>ユーザー名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_user_image(70,70), class:"rounded-circle"  %>
                <% end %>
              </td>
              <td><%= user.user_name %></td>
              <td>
                <%= link_to follows_user_path(user) do %>
                  <p>フォロー<%= user.followers.count %></p>
                <% end %>
              </td>
              <td>  
                <%= link_to followers_user_path(user) do %>
                  <p>フォロワー<%= user.followeds.count %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
  </div>
</div>