<div class="container">
  <div class="row">
    <h4 class="title pt-4 offset-md-2">
      <%= @user.user_name %>さんがフォローしているユーザー
    </h4>
  </div>
  <div class="row">
    <div class="col-md-7 pt-3 offset-md-2">
      <table class='table'>
        <thead>
          <tr>
            <th>アイコン</th>
            <th>ユーザー名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_user_image(70, 70), class:"rounded-circle"  %>
                <% end %>
              </td>
              <td><%= user.user_name %></td>
              <td>
                <%= link_to follows_user_path(user) do %>
                  <h6>フォロー<%= user.followers.count %></h6>
                <% end %>
              </td>
              <td>
                <%= link_to followers_user_path(user) do %>
                  <h6>フォロワー<%= user.followeds.count %></h6>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>