<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <h4 class="pt-4 offset-md-2"><%= @user.user_name %>さんのマイページ</h4>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-1 pt-4 mr-4 offset-md-2">
      <%= image_tag @user.get_user_image(100, 100) %>
    </div>
    <div class="col-md-3 pt-4">
      <table class="table pt-3">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
        <% if @user == current_user %>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @user.phone_number %></td>
          </tr>
        <% end %>
        <%= render "public/relationships/follow", user: @user %>
      </table>
      <% if @user == current_user %>
        <%= link_to '編集する', edit_user_path(@user), class: "btn btn-secondary mb-3" %>
      <% end %>
    </div>
  </div>
  <div class="card-list py-5">
    <h5>投稿一覧</h5>
    <div class="row">
      <%= render 'public/posts/post', posts: @posts %>
    </div>
  </div>
</div>
