<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.last_name %></h3>
  <%= image_tag @user.get_user_image(100,100) %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.user.get_user_image(100,100) %></p>
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= user_image.user.last_name %></p>
</div>
<% end %>