<!DOCTYPE html>
<html>
  <head>
    <title>Dishes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/071bfd184c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <main class="page-body row">
        <% if user_signed_in? %>
          <div class="col-md-2" style="background-color:#756560;">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-md-10 p-0">
            <%= yield %>
          </div>
        <% else %>
          <div class="col-md-12">
            <%= yield %>
          </div>
        <% end %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
